{% extends "admin/base.html" %}
{% load i18n static %}
{% comment %}
    This template is meant to be the way you override your existing path
    Copy this entire file and put it in your templates/ folder at the path
    `admin/base_site.html`
{% endcomment %}



{# Change the block below to change the page <title></title> attribute #}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{# Change the block below to change CSS #}
{% block css %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
{% endblock %}

{# Uncomment the block below to use a custom flex CSS theme. We've included an example one here #}
{% comment %}
{% block bootstrap_css %}
    {% static "flex/css/bento-box.min.css" %}
{% endblock %}
{% endcomment %}


{# Change the top branding of the admin by overriding this block #}
{% block branding %}
<a href="{% url 'admin:index' %}" class="navbar-brand">Site Admin</a>
{% endblock %}

{# Override this block to change the footer #}
{% block footer_text %}Flex. v0.9.0{% endblock %}
